black
bs4
gcsfs
pandas
numpy
tqdm
python-box
jsonpickle
aiofiles
openai
transformers
fire
tiktoken
huggingface_hub[cli]
ray[default]
fasttext-wheel
lm-eval
boto3
asttokens
aiohttp[speedups]>=3.8
backoff>=2.2
requests>=2.28
docker-pycreds
sentry-sdk
loguru>=0.7
faiss-cpu==1.7.4
deepspeed
liger-kernel
sentence-transformers>=2.2.2
fastapi>=0.101.0
uvicorn>=0.23.0
optimum==1.12.0
google-auth==2.25.1
fsspec==2024.6.1
pyopenssl>=24.0.0 # For some reason we get a strange error without this, see https://github.com/conda/conda/issues/13619#issuecomment-1966164903
./dcft/external_repositories/code2flow
./dcft/external_repositories/airoboros
./eval/chat_benchmarks/MTBench
psycopg[binary]
sagemaker
sqlalchemy
python-dotenv
shortuuid
anthropic
fuzzywuzzy
codebleu
python-Levenshtein
tree-sitter-python
tree-sitter-java
tenacity
google-generativeai
cohere
mistralai
reka-api
jsonlines
together
fschat
dashscope
prettytable
scikit-learn
hf-transfer
httpx
nltk
sentencepiece
protobuf
google-cloud-aiplatform
accelerate[sagemaker]
botocore
jmespath
sacrebleu
portalocker
tabulate
colorama
lxml
evaluate
scipy
joblib
threadpoolctl
tree_sitter
termcolor
sqlitedict
psycopg2-binary
distro
typing_inspect
py-cpuinfo
jiter
mypy_extensions
google-generativeai
hjson
patsy
mistralai
websocket
msgpack
python-Levenshtein
httpx-sse
fastavro
psycopg[binary]
gcsfs
langdetect
immutabledict
bespokelabs-curator@git+https://github.com/bespokelabsai/curator.git@d9ea8c56cb051a5e2417494ef447e641ee966a3a
